extends views/partials/main.pug

block content
    section.py-52.flex.flex-col.items-center.text-center
        h1(class='lg:text-5xl text-3xl rainbow-text font-medium') 404 - Page not found
        .my-8
        p(class='lg:text-lg') We couldn't find the page you were looking for...
        .my-4
        p(class='lg:text-lg italic') Sorry about that.