extends views/partials/main.pug

block content
    section.py-20.flex.flex-col.items-center
        h2(class='text-5xl mt-8') Meet my clients
        .my-4
        p My clients are awesome, and I'm proud to have worked with them.
        p
            = "Want to be the next? Contact me at  "
            a(class="text-blue-200 hover:underline" href='mailto:hello@sondregronas.com') hello@sondregronas.com
            = "."
        div(class='flex flex-wrap justify-center items-center mt-8 text-center')
            for client in clients
                include views/cards/client.pug
