extends views/partials/main.pug

block content
    section(class="lg:pt-12 py-8 flex flex-col items-center text-center")
        h1(class='lg:text-5xl text-3xl') Meet my clients
        .my-4
        p My clients are awesome, and I'm proud to have worked with them.
        p
            = "Want to be the next? Contact me at  "
            a(class="text-blue-200 hover:underline" href='mailto:hello@sondregronas.com') hello@sondregronas.com
            = "."
        div(class='flex flex-wrap justify-center items-center mt-8 text-center')
            for client in clients
                include views/cards/client.pug
