extends views/partials/main.pug

block content
    section(class="lg:pt-20 py-8 flex flex-col items-center text-center")
        h1(class='lg:text-5xl text-3xl') Podcast Technician
        .my-4
        p I record and edit podcasts. Give them a listen!
        p
            = "Need help with yours? Contact me at "
            a(class="text-blue-200 hover:underline" href='mailto:podcast@sondregronas.com') podcast@sondregronas.com
            = "."
        div(class='flex flex-wrap justify-center items-center mt-8 text-center')
            for podcast in podcasts
                include views/cards/podcast.pug
