div(class='container mx-auto')
    div(class='flex justify-between items-center')
        // Temporary link for GitHub Pages
        a(href='/sondregronas.com' class='text-2xl font-bold')
            // img(src=favicon class='w-16 h-16 rounded-full' alt='logo')
            | Sondre Grønås
        nav(class='flex justify-between items-center space-x-4')
            include views/partials/nav.pug