title=title
include views/partials/favicon.pug
// CSS
include views/partials/style.pug
// Meta tags
include views/partials/meta.pug
// Google Analytics
include views/partials/analytics.pug
// Additional scripts
block scripts
// Extra head content
block head