a(href='https://github.com/sondregronas' target='_blank' class='text-xl') GitHub
a(href='podcasts' class='text-xl') Podcasts
a(href='clients' class='text-xl') Clients
a(href='mailto:hello@sondregronas.com' class='text-xl') Contact